form {
  display: flex;
  flex-wrap: wrap;

  & > input {
    flex: 1 1 10ch;
    margin: .5rem;

    &[type="email"] {
      flex: 3 1 30ch;
    }
  }
  & button {
     border: 1px solid rgba(0,0,0,.2);
     height: 38px;
     line-height: 38px;
     width: 100px;
     border-radius: 19px;
     font-family: $font-family;
  }
  & #submit {
     background: #807182;
     border: 1px solid transparent;
     color: #fff;

     &:hover {
        background: #171A2B;
     }
  }
}

input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;

  &[type="submit"] {
    background: blue;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
  }
}

.status .radio_btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.status{
    display: block;
    margin-bottom: 5px;
}

input {
      border: 1px solid $form-border-color;
      border-radius: 4px;
      height: 38px;
      line-height: 38px;
      padding-left: 5px;
    }

.radio_btn{
    background: #fff;
    border: 1px solid $form-border-color;
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
}

.radio_btn label{
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: .2s all ease-in-out;
    width: 80px;
}

.radio_btn input[type="radio"] {
    display: none;
}

.radio_btn input[type="radio"]:checked + label {
    background: $primary-bg-color;
    border: 1px solid $form-border-color;
}